.services__title--italic,
.team__title--italic {
  display: block;
  font-family: $third-font;
  color: $color-2;
  font-size: 24px;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 16px;
}
