.hero {
  min-width: 100%;
  height: 100%;
  margin: 0 auto;
  background-image: linear-gradient(
      to top,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url(../images/photo/eaglecover.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 28px 80px 230px;
}

.header {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto 152px;
}

.header__logo {
  color: rgb(255, 255, 255);
  font-family: $main-font;
  font-size: 30px;
  font-weight: 700;
}

.navigation__wrapper {
  display: flex;
}

.navigation__list {
  display: flex;
  width: 488px;
  justify-content: space-between;
  margin-right: 52px;
}

.navigation__item,
.navigation__addlist-item {
  cursor: pointer;
}

.navigation__link {
  color: rgb(255, 255, 255);
  font-family: $main-font;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.navigation__link::after,
.navigation__btn::after,
.navigation__addlist-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgb(252, 227, 138);
  margin-top: 8px;
  visibility: hidden;
  opacity: 0;
}

.navigation__item:hover .navigation__link {
  color: rgb(252, 227, 138);
}

.navigation__item:hover .navigation__link::after {
  visibility: visible;
  opacity: 1;
}

.navigation__addlist {
  width: 74px;
  display: flex;
  justify-content: space-between;
}

.navigation__svg {
  width: 18px;
  height: 15px;
  fill: rgb(255, 255, 255);
}

.navigation__addlist-item:hover .navigation__svg {
  fill: rgb(252, 227, 138);
}

.navigation__addlist-item:hover .navigation__addlist-link::after {
  visibility: visible;
  opacity: 1;
}

.navigation__btn {
  width: 18px;
  height: 18px;
  background-color: unset;
}

.navigation__btn-svg {
  width: 18px;
  height: 18px;
  fill: rgb(255, 255, 255);
}

.navigation__btn:hover .navigation__btn-svg {
  fill: rgb(252, 227, 138);
}

.navigation__btn:hover::after {
  visibility: visible;
  opacity: 1;
}

.hero__text {
  color: rgb(255, 255, 255);
  font-family: $third-font;
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 36px;
  margin-left: 6px;
}

.hero__title {
  color: rgb(255, 255, 255);
  font-family: $main-font;
  font-size: 150px;
  line-height: 141px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  width: 802px;
  margin: 0 auto 108px;
  letter-spacing: -5px;
}

.hero__btn {
  width: 160px;
  height: 40px;
  border: 3px solid rgb(255, 255, 255);
  background-color: unset;
  color: rgb(255, 255, 255);
  font-family: $main-font;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 6px;
}
