.team {
  padding-bottom: 78px;

  &__title {
    margin-bottom: 42px;
  }

  &__description {
    width: 954px;
    margin: 0 auto 90px;
    color: $color-3;
    font-family: $second-font;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
    &-namepos {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item {
    width: 380px;
    height: 470px;
    position: relative;
    &-photo {
      top: 0;
      left: 0;
      transition-property: all;
      transition-duration: 0.2s;
      transition-timing-function: linear;
    }
    &:hover {
      .team__item-photo {
        position: absolute;
        top: -10px;
        left: -10px;
      }
      .overlay {
        visibility: visible;
        opacity: 1;
        top: -10px;
        left: -10px;
        box-shadow: 10px 10px $color-6;
      }
    }
    &-namepos {
      width: 380px;
      text-align: center;
    }
    &-name {
      color: $color-2;
      font-family: $main-font;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 7px;
    }
    &-position {
      color: $color-3;
      font-family: $second-font;
      font-size: 15px;
      font-weight: 300;
      line-height: 24px;
    }
  }
}
/* OVERLAY */

.overlay {
  width: 380px;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition-property: top, left, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: linear;

  &__list {
    display: flex;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: $color-5;
    cursor: pointer;
    &:not(:last-child) {
      border-right: 1px solid rgba(243, 129, 129, 0.5);
    }
    &:hover {
      background-color: $color-4;
      .overlay__svg {
        fill: $main-color;
      }
    }
  }
  &__svg {
    width: 26px;
    height: 26px;
    fill: $color-4;
  }
}
